<ion-header>
    <ion-navbar text-center no-border-bottom color="primary">        
      <ion-title> Múltiplo </ion-title>     
    </ion-navbar>  
  </ion-header>

<ion-content padding>  

  <ion-list *ngIf="isLoading">
      <ion-spinner name="bubbles"></ion-spinner>
      <ion-title align="center"> {{dataInfo.pleaseWait}} </ion-title>
  </ion-list>
    
  <ion-list *ngIf="! isLoading">
      <ion-item no-lines><ion-label stacked> {{dataInfo.ticketStart}} </ion-label>
        <ion-input type="number" (keyup.enter)="checkTicketStart()" [(ngModel)]="searchTicket" #searchbar></ion-input>
    </ion-item>  

    <ion-item no-lines><ion-label stacked> {{dataInfo.ticketStart}} </ion-label>
      <ion-input type="number" (keyup.enter)="checkTicketEnd()" [(ngModel)]="searchTicketEnd" #inputEnd></ion-input>
    </ion-item>  

    <button ion-button full (click)="searchMultipleTickets()"> {{dataInfo.send}} </button>    
                                
  </ion-list>

  <ion-grid *ngIf="! isLoading">
    <ion-row wrap>
      <ion-col width-33 *ngFor="let command of (allTickets)?.success">        
        <ion-card>
            
            <ion-card-header style="border-top: 3px solid green; border-bottom: 3px solid green; margin-bottom: 5px;" *ngIf="command.message">
                <h5 style="color: green;"> Ingresso: {{ command.id_estoque_utilizavel}}  </h5>                                                
            </ion-card-header>

            <ion-card-header  style="border-top: 3px solid red; ; border-bottom: 3px solid red; margin-bottom: 5px;" *ngIf="command.alerta">                    
                <h5 style="color: red;"> Ingresso: {{ command.id_estoque_utilizavel}}  </h5>                  
            </ion-card-header>

            <ion-card-content>
                <p *ngIf="command.data_log_venda"> Data venda: {{ command.data_log_venda}} </p>
                <p *ngIf="command.nome_ponto_acesso"> Ponto utilização: {{ command.nome_ponto_acesso}} </p>         
                <p *ngIf="command.alerta">Atenção: {{ command.alerta}} </p>
                <p *ngIf="command.message">Informação: {{ command.message}} </p>
            </ion-card-content>

        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>

<ion-footer color="transparent">

    <ion-row>
        <ion-col class="fs-15 fw-600 pdl-0">
            <button style="vertical-align: 5%;" ion-button item-right icon-only color="primary" clear outline>
                <ion-icon name="alert"></ion-icon>
            </button>            
        </ion-col>

        <ion-col>
            <h3 class="fs-15 fw-600 mgb-10">{{totalChecks}}</h3>
        </ion-col>

        <ion-col class="fs-15 fw-600 pdl-0">
            <button style="vertical-align: 5%;" ion-button item-right icon-only color="secondary" clear outline>
                <ion-icon name="checkmark-circle"></ion-icon>
            </button>            
        </ion-col>

        <ion-col>
            <h3 class="fs-15 fw-600 mgb-10">{{totalChecksOk}}</h3>
        </ion-col>

        <ion-col class="fs-15 fw-600 pdl-0">
            <button style="vertical-align: 5%;" ion-button item-right icon-only color="danger" clear outline>
                <ion-icon name="remove-circle"></ion-icon>
            </button>            
        </ion-col>    

        <ion-col>
            <h3 class="fs-15 fw-600 mgb-10">{{totalChecksNotOk}}</h3>
        </ion-col>

      </ion-row>      

    
    </ion-footer>
