<ion-header>
  <ion-navbar no-border-bottom color="white_">  
    <ion-row>   
      <ion-col><img width="300px" height="100px" src="assets/imgs/logo.png"/> </ion-col>            
      <ion-col> <h1 text-right class="header-conter">  {{counter}} </h1></ion-col>      
    </ion-row>    
  </ion-navbar>  
</ion-header>

<ion-content>

    <ion-list *ngIf="isLoading">
        <ion-spinner name="bubbles"></ion-spinner>
    </ion-list>

    <ion-list>    
    
    <ion-item no-lines><ion-label fixed> {{titleTicketOne}} </ion-label>
        <ion-input type="number" (keyup.enter)="setFilteredItems()" [(ngModel)]="searchTicket" #searchbar></ion-input>
    </ion-item>                                    

    <ion-grid>
        <ion-row>
            
            <ion-col *ngIf="idTypeBackgrond == dataInfo.backgroundIdNone">
                <h3 text-right class="title">  {{title}} </h3>                                
            </ion-col>

            <ion-col class="box-header-gray" *ngIf="idTypeBackgrond !== dataInfo.backgroundIdNone">                
                <h3 text-right class="titleHistory" *ngIf="idTypeBackgrond !== dataInfo.backgroundIdSearch">  {{history}} </h3>                       
                <h3 text-right class="titleHistory" *ngIf="idTypeBackgrond >= dataInfo.backgroundIdSearch && !ticketRead">  {{dataInfo.historyGeneral}} </h3>
             </ion-col>

        </ion-row>  

        <ion-row>
            <div class="box-message" *ngIf="idTypeBackgrond == dataInfo.backgroundIdGreen">
                <h1 text-right class="ticket-type-font"> {{message1}} </h1>     
                <h2 text-right class="ticket-type-msg"> {{message2}} </h2>     
            </div>

            <div class="box-message-red" *ngIf="idTypeBackgrond == dataInfo.backgroundIdRed">
                <h1 text-right class="ticket-type-font"> {{message1}} </h1>     
                <h2 text-right class="ticket-type-msg"> {{message2}} </h2>     
            </div>

            <div class="box-message-green" *ngIf="idTypeBackgrond == dataInfo.backgroundIdSearchOk">                                       
                <h4 text-right class="ticket-type-font"> {{historyText1}} </h4>     
                <h4 text-right class="ticket-type-msg"> {{dataInfo.historyUntilDay}}: {{historyText2}}</h4>                                                     
                <h3 text-right class="ticket-type-msg"> {{dataInfo.accessPoints}}:</h3>
                <h4 text-right class="ticket-type-submsg"> {{historyText3}}</h4>
            </div>

            <div class="box-message-red" *ngIf="idTypeBackgrond == dataInfo.backgroundIdSearchNotOk">
                <h4 text-right class="ticket-type-font"> {{historyText1}} </h4>     
                <h4 text-right class="ticket-type-msg"> {{historyText2}}</h4>     
               
            </div>
        </ion-row>
    </ion-grid>

 </ion-list>

</ion-content>
  
<ion-footer>
    <ion-toolbar color="white_">  

      <ion-grid>                  
        <ion-row>
        <ion-col col-4>  

            <div class="options">
              
                <ion-col col-2>  
                    <ion-fab>
                        <button ion-fab color="light" icon-only (click)="showHistory()" [disabled]="!inputVisible">
                            <ion-icon name='search' color="dark"></ion-icon>
                        </button>
                    </ion-fab>  
                </ion-col> 

                <ion-col col-2>  
                    <ion-fab>
                        <button ion-fab color="light" icon-only (click)="setMultiple()"  [disabled]="!inputVisible">
                            <ion-icon name='flash' color="{{multipleColor}}"></ion-icon>
                        </button>
                    </ion-fab>  
                </ion-col>
        
                <ion-col col-2>  
                    <ion-fab>
                        <button ion-fab color="light" icon-only (click)="decrementCounter()" [disabled]="!inputVisible">
                            <ion-icon name='remove-circle' color="danger"></ion-icon>
                        </button>
                    </ion-fab>  
                </ion-col>  

            </div>

            </ion-col>

            <ion-col col-8>  
                                
            <div class="logo-bottom">
                <img src="assets/imgs/logo3a.png"/>
            </div>

            </ion-col>

        </ion-row>          
        </ion-grid>                                                                                 
    </ion-toolbar>
  </ion-footer>
