<ion-header>
    <ion-navbar text-center no-border-bottom color="primary">        
      <ion-title> Historico </ion-title>     
    </ion-navbar>  
  </ion-header>

<ion-content padding>  

  <ion-list *ngIf="isLoading">
      <ion-spinner name="bubbles"></ion-spinner>
      <ion-title align="center"> {{dataInfo.pleaseWait}} </ion-title>
  </ion-list>
    
  <ion-list *ngIf="! isLoading">
      <ion-item no-lines><ion-label stacked> {{dataInfo.ticketStart}} </ion-label>
        <ion-input type="number" (keyup.enter)="checkTicketStart()" [(ngModel)]="searchTicket" #searchbar></ion-input>
    </ion-item>  

    <ion-item no-lines><ion-label stacked> {{dataInfo.ticketStart}} </ion-label>
      <ion-input type="number" (keyup.enter)="checkTicketEnd()" [(ngModel)]="searchTicketEnd" #inputEnd></ion-input>
    </ion-item>  

    <button ion-button full (click)="searchMultipleTickets()"> {{dataInfo.send}} </button>    
                                
  </ion-list>

  <ion-grid *ngIf="! isLoading">
    <ion-row wrap>
      <ion-col width-33 *ngFor="let command of (allTickets)?.success">        
          
        <ion-card>
            
            <ion-card-header style="border-top: 3px solid green; border-bottom: 3px solid green; margin-bottom: 5px;" *ngIf="command.message">
                <h5 style="color: green;"> Ingresso: {{ command.id_estoque_utilizavel}}  </h5>                                                
            </ion-card-header>

            <ion-card-header  style="border-top: 3px solid red; ; border-bottom: 3px solid red; margin-bottom: 5px;" *ngIf="command.alerta">                    
                <h5 style="color: red;"> Ingresso: {{ command.id_estoque_utilizavel}}  </h5>                  
            </ion-card-header>

            <ion-card-content>
                <p *ngIf="command.data_log_venda"> Data venda: {{ command.data_log_venda}} </p>
                <p *ngIf="command.nome_ponto_acesso"> Ponto utilização: {{ command.nome_ponto_acesso}} </p>         
                <p *ngIf="command.alerta">Atenção: {{ command.alerta}} </p>
                <p *ngIf="command.message">Informação: {{ command.message}} </p>
            </ion-card-content>

        </ion-card>        
      </ion-col>
    </ion-row>
  </ion-grid>
  

</ion-content>

<ion-footer color="transparent">

<ion-toolbar color="white_">  

    <ion-grid>                  
        <ion-row>
            
        <ion-col col-4>  

            <div class="options">
            
                <ion-col>  
                    <ion-fab>
                        <button ion-fab color="primary" (click)="showHistory()" [disabled]="!inputVisible">
                            <h3 class="fs-15 fw-600">{{totalChecks}}</h3>                    
                        </button>
                    </ion-fab>  
                </ion-col> 

                <ion-col>  
                    <ion-fab>
                        <button ion-fab color="secondary" (click)="setMultiple()"  [disabled]="!inputVisible">                            
                            <h3 class="fs-15 fw-600 mgb-10">{{totalChecksOk}}</h3>
                        </button>
                    </ion-fab>  
                </ion-col>
        
                <ion-col>  
                    <ion-fab>
                        <button ion-fab color="danger" (click)="decrementCounter()" [disabled]="!inputVisible">
                            <h3 class="fs-15 fw-600 mgb-10">{{totalChecksNotOk}}</h3>
                        </button>
                    </ion-fab>  
                </ion-col>  

            </div>

        </ion-col>

        <ion-col col-8>                                  
            <div class="logo-bottom">
                <img src="assets/imgs/logo3a.png"/>
            </div>
        </ion-col>

        </ion-row>  

        </ion-grid>       

    </ion-toolbar>
    
    </ion-footer>
